
<header class="section-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <h1>Test Your Front-End Dev's Skills & Experience</h1>
                <p>Hiring a Front-End Developer? Get to know his capabilities with a simple Testio task.</p>
                <a href="#" class="btn btn-primary btn-big">Check pricing</a>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="iphone"></div>
            </div>
            <div class="btn-scroll-down"></div>
        </div>
    </div>
</header>

<div class="section features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Features</h2>
                <h3>We Bring You The Best Solution On The Market</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <img src="../images/feat1.png">
                <h4>Great Speed</h4>
                <p>Vestibulum consequat metus sed dictum sagittis. Fusce at luctus libero, vel mollis velit. Nunc elementum velit justo, lobortis facilisis orci congua.</p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <img src="../images/feat2.png">
                <h4>Great Speed</h4>
                <p>Donec mollis nisi vel lorem laoreet, eget venenatis lorem sagittis. Praesent ullamcorper odio id gravida semper. Vivamus a fermentum neque, id pretium diam. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <img src="../images/feat3.png">
                <h4>Great Speed</h4>
                <p>Ut interdum interdum placerat. Phasellus ultrices iaculis metus, a congue ex cursus eget. Nullam at sem ullamcorper, condimentum lectus sit amet, luctus elit. </p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <img src="../images/feat4.png">
                <h4>Great Speed</h4>
                <p>Duis tempor eros augue, efficitur tempor ipsum maximus sed. Donec est est, auctor elementum leo a, euismod molestie purus. Proin eget magna non mi vestibulum.</p>
            </div>
        </div>
    </div>
</div>

<div class="section pricing">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Pricing</h2>
                <h3>Pick a Plan</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="row prices">
                    <div class="col-xs-6">
                        <div class="price">
                            <img src="../images/price1.png" />
                            <div><ins>$99</ins>/ m<span>Montly</span></div>
                            <a href="#" class="btn btn-primary btn-big">Try Now</a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="price price-active">
                            <img src="../images/price2.png" />
                            <div><ins>$30</ins>/ m<span><del>$1188</del> $360 Billed Anually</span></div>
                            <a href="#" class="btn btn-primary btn-big">Try Now</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><p class="no-limits">&nbsp;&nbsp;&nbsp; No limits for bandwidth, speed, traffic, connections.</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
